<div class="content-area container">
  <div class="file-folder-container row pt-3 pb-3">
    <div
      class="folder-block border col-2 p-2 d-flex justify-content-center align-items-center"
    >
      <h1>+</h1>
    </div>
  </div>
</div>
