.main-wraper {
  min-height: 100vh;
}

#HeaderContainer {
}

#HeaderContainer .navigation-area {
}

#HeaderContainer .navigation-area .logo-cover {
}

#HeaderContainer .navigation-area .logo-cover .logo {
  width: 42px;
  height: 42px;
  margin-left: 0 !important;
}

#HeaderContainer .navigation-area .navigation-cover {
}

#HeaderContainer .navigation-area .user-cover {
}

#HeaderContainer .navigation-area .user-cover .user {
  width: 42px;
  height: 42px;
  margin-right: 0 !important;
  cursor: pointer;
}

#ContentContainer {
}

#ContentContainer .content-area {
}

#FooterContainer {
}

#FooterContainer .footer-area {
}

.nav-link.active {
  background: rgb(194, 194, 194);
}

.nav-link:hover {
  background: rgb(194, 194, 194);
}
